IPFS_ADDRESS='/ip4/104.131.131.82/tcp/4001/ipfs/QmaCpDMGvV2BGHeYERUEnRQAwe3N8SzbUtfsmvsqQLuvuJ'
HORIZON_ADDRESS='https://horizon-testnet.stellar.org'
NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
SMART_ACCOUNT_ADDRESS='GDBAIQINXF7G3IX2PZA2LS2WATOBZZJV4DD3LG4UUFREWJLEVVN5ZMZ7'
USER_SECRET_KEY='SDQ5IROMQMRD4AQ34LN7UX7RECDFLXGAZ4QRE7LYZXMM7HX3HJTG5CGX'